<script type="text/php"> def("DOMPDF_ENABLE_CSS_FLOAT", true); </script>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        @page {
        size: A4;
        margin: 0;
                }
               body {
        margin: 0;
                }
    </style>
</head>
<body>
    <div style="width: 100%">
        <div style="width: 50% float: left; background-color: yellow; display: inline-block;">
            <h2>Left 50%</h2>
            <h2>Left 50%</h2>
        </div>
        <div style="width: 50% float: left; background-color: green; display: inline-block;">
            <h2>Right 50%</h2>
            <h2>Right 50%</h2>
        </div>
    </div>
</body>
</html>